/*
 * @Author: garychen 
 * @Date: 2017-08-06 19:05:58 
 * @Last Modified by: garychen
 * @Last Modified time: 2017-08-06 23:57:47
 */
 .footer{
    margin-top: 20px;
    padding-bottom: 10px;
}
.footer .links{
    text-align: center;
    line-height: 30px;
}
.footer .copyright{
    text-align: center;
    margin: 10px auto;
}
