/*
 * @Author: garychen 
 * @Date: 2017-08-06 19:05:58 
 * @Last Modified by: garychen
 * @Last Modified time: 2017-08-06 19:14:53
 */
.footer .links{
    width: 110px;
    margin: 10px auto;
}
.footer .copyright{
    width: 280px;
    margin: 10px auto;
}
