/*
 * @Author: garychen 
 * @Date: 2017-08-09 00:52:53 
 * @Last Modified by:   garychen 
 * @Last Modified time: 2017-08-09 00:52:53 
 */
.page-wrap{
    padding: 30px 0;
    margin-top: 20px;
    text-align: center;
    background: #fff;
}
.result-con{
    display: none;
}
.result-con .result-title{
    color: #555;
}
.result-con .result-content{
    margin-top: 20px;
}
.result-con .result-content .link{
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
}